# Xcode
#

## Xcode Project
NotificationCenter/

## User settings
xcuserdata/
GoogleService-Info.plist
TriDubai.entitlements

## Build 
build/
DerivedData/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## CocoaPods
Pods/

## Others
*~
.DS_Store
*.swp
*.save
._*
*.bak
